body{ 
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

section {
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    
}

p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header */

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
display: flex;
gap: 4px;
font-weight: 700;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.03em;
color: #111;
align-items: center;
justify-content: center;
}

.logo-italic{
    font-style: italic;
}

.visually-hidden-pc{
    opacity: 0;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.link-face-heder{
    stroke: #111;
    fill: #111;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.soc-border{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.menu-tab{
    display: none;
}

.burger-menu{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.burger{
    stroke: #111;
    stroke-width: 2px;
    fill: #111;
}

/*section-1 hero */

.hero{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e2f42;
    margin-left: auto;
    margin-right: auto;

    border-radius: 30px;
    background-image: url(../images/optimiz/chocolate_main-mob.jpg);
}

@media (min-resolution: 192dpi) {
    .hero{
        background-image: url(../images/optimiz/chocolate_main-mob-2@.jpg);
    }
}

.hero-container{
    padding: 395px 20px 20px 20px;
}

.hero-title{
    width: 250px;
    font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: -0.03em;
color: #fff;
}

.title-dwn{
    display: none;
}

.hero-btns{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}

.btn-hero{
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fd9222;
    border: none;
    border-radius: 100px;
padding: 12px 28px;
width: 120px;
height: 41px;
font-weight: 600;
font-size: 14px;
color: #fff;
}

.hero-a{
    border: 1px solid #fff;
border-radius: 100px;
padding: 12px 28px;
width: 159px;
height: 41px;
font-weight: 600;
font-size: 14px;
color: #fff;
}

.scroll{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    font-weight: 500;
font-size: 12px;

/* line-height: 14px; */ 
line-height: 117%;
letter-spacing: -0.03em;
color: #fff;
}

/*section-2 description*/

.section-description{
    background-color: #1e1823;
    padding: 20px 0;
    margin-top: 80px;
}


.list-blok{
    padding-bottom: 20px;

}

.icon{
    border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 365px;
width: 62px;
height: 62px;
display: flex;
justify-content: center;
align-items: center;
}

.title-description{
    font-weight: 600;
font-size: 18px;
color: #fff;
padding-top: 22px;
padding-bottom: 18px;
}

.txt-description{
    font-weight: 400;
font-size: 14px;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.7);
}

.hr{
    display: none;
}

.arrow{
    stroke: #fff;
    fill: #fff;
}

.ingredients{
    border-radius: 15px;
    width: 260px;
    height: 270px;
    background: #fd9222;
}

.ingredients-1{
    border: 1px solid #fd9222;
    border-radius: 15px;
    width: 260px;
    height: 270px;
    background: #fff;
}

.arrow-1{
    stroke: #fd9222;
    fill: #fd9222;
}

.ingredients-2{
    border-radius: 15px;
    width: 260px;
    height: 270px;
    background: #1e1823;
}

.footer{
    background: #1e1823;
    color: #fff;
}


.link-face{
    stroke: #fff;
    fill: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 768px){
    /*header*/

    .visually-hidden-mob{
        display: none;
    }

    .visually-hidden-pc{
        opacity: 1;
    }
    
    .menu-tab{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu{
        display: none;
    }

    .menu-tab{
        display: flex;
        align-items: center;
        gap: 28px;
        justify-content: center;
    }

    .list-header{
            font-weight: 500;
font-size: 14px;

/* line-height: 16px; */ 
line-height: 114%;
letter-spacing: -0.02em;
color: #111;
    }

    
.nav-list{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

    .social-list{
        gap: 14px;
    }

    .link-face-heder{
        stroke: #111;
        fill: #111;border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;
padding: 8px;
width: 40px;
height: 40px;

    }

    /*section-1 hero*/

    .hero{
        background-image: url(../images/optimiz/chocolate_main-tab.jpg);
    }

    .hero-title{
        font-size: 28px;
        width: 420px;
    }

    .title-dwn{
        display: inline;
    }

    
.hero-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*section-2 description*/

.section-description{
    padding: 50px 0;
}

.description-list{
     display: flex;
     flex-wrap: wrap;
     column-gap: 88px;
        row-gap: 44px;
}

.list-blok{
     width: calc((100% - 48px) / 2);
 max-width: 308px;
}

}

@media (min-resolution: 192dpi) {
    .hero{
        background-image: url(../images/optimiz/chocolate_main-tab-2@.jpg);
    }
}

@media screen and (min-width: 1158px){
    /*header*/

    .menu-tab{
        gap: 90px;
    }

    .nav-list{
        gap: 24px;
    }

    /*section-1 hero*/

    .hero{
        background-image: url(../images/optimiz/chocolate_main-pc.jpg);
    }

/*section-2 description*/

.description-list{
    gap: 44px;
}

.list-blok{
    padding-left: 44px;
    padding-right: 0;
}

.hr{
    display: block;
    width: 1px;
    height: 124px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 110px;
    

}

.list-blok{
    width: 308px;
}

}

@media (min-resolution: 192dpi) {
    .hero{
        background-image: url(../images/optimiz/chocolate_main-pc-2@.jpg);
    }
}