body{ 
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    
}

p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header */

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
font-weight: 700;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.03em;
color: #111;
}

.logo-italic{
    font-style: italic;
}

/* .visually-hidden-pc {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
} */

.visually-hidden-pc{
    opacity: 0;
}

/* .description{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.nav-header{
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-list{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
font-size: 14px;

/* line-height: 16px; */ 
line-height: 114%;
letter-spacing: -0.02em;
color: #111;
}

.social-list{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.link-face-heder{
    stroke: #111;
    fill: #111;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.soc-border{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.hero{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e2f42;
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 734px;
    border-radius: 30px;
    background-image: url(../images/optimiz/chocolate_main-mob.jpg);
}

.arrow{
    stroke: #fff;
    fill: #fff;
}

.hero-baner{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./images/optimiz/chocolate_main-mob.jpg) no-repeat center;

}

.ingredients{
    border-radius: 15px;
    width: 260px;
    height: 270px;
    background: #fd9222;
}

.ingredients-1{
    border: 1px solid #fd9222;
    border-radius: 15px;
    width: 260px;
    height: 270px;
    background: #fff;
}

.arrow-1{
    stroke: #fd9222;
    fill: #fd9222;
}

.ingredients-2{
    border-radius: 15px;
    width: 260px;
    height: 270px;
    background: #1e1823;
}

.footer{
    background: #1e1823;
    color: #fff;
}


.link-face{
    stroke: #fff;
    fill: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}